/* Universal Styles */

html {
    font-size: 16px;
    font-family: helvetica;
  }
  
  body {
    background-color: black;
  }
    
/*banner styling */

.jumbotron-fluid {
    /* height: 40rem; */
    background-image: url("./images/banner2.JPG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1  {
    font-size: 5rem;
    color:#f0f1cb;
    text-align: center;
    vertical-align: center;
}

.jumbotron-fluid p {
  color: white;
  font-size: 2rem;
}


/*content styling*/

.container-sm {
  width: 70%;
  color: #ddebe4;
}

.btn {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem; 

}


/* Modal styling */

.modal-content {
  color:#4f252f;
  text-align: center;
}



/*footer styling*/

  #contact {
    padding: 1rem 0;	
    border-top: 1px solid #999999;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
  }

  #contact img {
    display: inline-block;
    height: 3rem;
    width: auto;
    margin: 1rem;
  }

  #contact img:hover {
    height: 3.2rem;
    width: auto;
    margin: 1rem;
  }